@*@model BusinessManagement.WebSite.Models.User.LogInViewModel

<!-- Modal -->
<div id="forgot-password-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Forgot Password</h4>
            </div>
            <form>
                <div class="modal-body">

                    <input class="input-log-in-style" type="text" asp-for="Email" placeholder="Email">
                    <div class="col-md-12  margin-bottom-15px text-validation">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>*@

