@{
    Layout = "";
}

@{
    ViewData["Title"] = "Log in";
}
@Html.Partial("_Scripts")


<div class="log-in-background">
    <div class="container">
        <div class="table-containerf">
            <div class="table-cellf">

                <div class="log-in-logo">
                    <img src="~/images/User/Image-LOGO-shadow.png" />
                </div>



                <div class="container-for-inputs">


                    <input class="input-log-in-style margin-bottom-15px" type="text" placeholder="Email" />

                    <input class="input-log-in-style margin-bottom-15px" type="text" placeholder="Password" />


                </div>
                

                <div class="container-elements-password-remember-log-in">
                    <div  class="container-forgot-password">
                        <div class="pull-right">
                            <a class="forgot-password-log-in margin-bottom-15px">Forgot password?</a>
                        </div>
                       
                    
                        <div class="form-swich-container form-control-height margin-bottom-15px">
                            <label class="switch">
                                <input type="checkbox" checked="checked">
                                <span class="slider slider-log-in round"></span>
                            </label>
                            <h4 class="remember-me-text">Remember me</h4>
                        </div>
                        
                        
                   </div>
                    
                </div>

                <div class="container-for-inputs">
                    <button class="btn btn-info btn-log-in">Log in</button>
                </div>
            </div>


            </div>
        </div>

    </div>

